<div fxLayout="column" fxFlex [class.dark-theme]="isDarkTheme">
    <!--LARGE TOOLBAR-->
    <md-toolbar fxHide fxShow.gt-sm color="primary" class="mat-elevation-z6 app-toolbar">
        <div fxLayout="row" fxLayoutAlign="start center" class="app-bar" style="width:250px;">
            <button md-icon-button (click)="mainSideNav.toggle()">
                    <md-icon>menu</md-icon>
              </button>
            <img src="../assets/logo.svg" class="logo">
            <span fxLayout="row" fxFlex fxLayoutAlign="center center">{{appName}}</span>
        </div>
        <span style="padding-left:16px;">
                {{(activeMenuItem$ | async)?.title}}
        </span>
        <span fxFlex></span>
        <button md-icon-button [mdMenuTriggerFor]="themeMenu">
            <md-icon>more_vert</md-icon>
        </button>
    </md-toolbar>
    <!--SMALL TOOLBAR-->
    <md-toolbar fxHide.gt-sm color="primary" class="mat-elevation-z6 app-toolbar">
            <div fxLayout="row" fxLayoutAlign="start center" class="app-bar" style="width:100%">
            <button md-icon-button (click)="mainSideNav.toggle()">
                <md-icon>menu</md-icon>
            </button>
            <img src="../assets/logo.svg" class="logo">
            <span fxLayout="row" fxFlex fxLayoutAlign="center center">{{appName}}</span>
            <button md-icon-button [mdMenuTriggerFor]="themeMenu">
                <md-icon>more_vert</md-icon>
            </button>
        </div>
    </md-toolbar>

    <md-sidenav-container fxFlex>
        <md-sidenav #mainSideNav mode="over">
            <md-nav-list>
                <a *ngFor="let navItem of mainMenuItems" md-list-item md-ripple [style.position]="'relative'" routerLinkActive="selected"
                    [routerLink]="[navItem.path]">
                    <!--<md-icon *ngIf="navItem.icon">{{navItem.icon}}</md-icon>-->
                    <span>{{navItem.title}}</span>
                </a>
            </md-nav-list>
        </md-sidenav>
        <div fxLayout="column" class="content">
            <md-toolbar [fxHide.gt-sm]="true" color="primary">
                    {{(activeMenuItem$ | async)?.title}}
            </md-toolbar>
            <div fxFlex>
                <router-outlet></router-outlet>
            </div>
        </div>
    </md-sidenav-container>
    <md-menu #themeMenu x-position="before">
        <button md-menu-item (click)="isDarkTheme = !isDarkTheme">Toggle Theme</button>
    </md-menu>
</div>