<div fxLayout="column" fxFlex [class.dark-theme]="isDarkTheme">
    <md-toolbar color="primary" class="mat-elevation-z4" style="padding-left:0">
        <div fxLayout="row" fxLayoutAlign="start center" style="height:100%;width:250px;background-color:rgba(0,0,0,0.1);padding-left:16">
            <button md-icon-button (click)="mainSideNav.toggle()">
                    <md-icon>menu</md-icon>
              </button>
            <img src="../assets/logo_white.svg" style="height:80%">
            <span fxLayout="row" fxFlex fxLayoutAlign="center center">
             {{appName}}
            </span>
        </div>
        <span style="padding-left:16px;">
                {{(activeMenuItem$ | async)?.title}}
        </span>
        <span fxFlex></span>
        <button md-icon-button [mdMenuTriggerFor]="themeMenu">
            <md-icon>more_vert</md-icon>
        </button>
    </md-toolbar>

    <md-sidenav-container fxFlex>
        <md-sidenav #mainSideNav mode="over">
            <md-nav-list>
                <a *ngFor="let navItem of mainMenuItems" md-list-item md-ripple [style.position]="'relative'" routerLinkActive="selected"
                    [routerLink]="[navItem.path]">
                    <!--<md-icon *ngIf="navItem.icon">{{navItem.icon}}</md-icon>-->
                    <span>{{navItem.title}}</span>
                </a>
            </md-nav-list>
        </md-sidenav>
        <div fxLayout="column" class="content">

            <div fxFlex>
                <router-outlet></router-outlet>
            </div>
        </div>
    </md-sidenav-container>
    <md-menu #themeMenu x-position="before">
        <button md-menu-item (click)="isDarkTheme = !isDarkTheme">Toggle Theme</button>
    </md-menu>
</div>