/* You can add global styles to this file, and also import other style files */
@import 'app/app.theme';

html, body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, Arial, sans-serif;
}

html, body, .content,md-sidenav-container{
  margin: 0;
  height: 100%;
  width: 100%;
}


md-sidenav {
  width: 250px;
}

.full-height{
  height:100%;
  display:flex;
  flex-direction: row;
  align-content: stretch;
  &.layout-column{
    flex-direction: column;
  }
  
}

